<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <accordion>
                <accordion-group heading="1011 Employee 1 Java UI Developer">
                    <div class="row">
                        <div class="col-lg-2">Image</div>
                        <div class="col-lg-10">Details</div>
                    </div>
                </accordion-group>
                <accordion-group heading="1021 Employee 2 Java UI Developer">
                    <p>Some content</p>
                </accordion-group>
                <accordion-group heading="1041 Employee 3 Java UI Developer">
                    <p>Some content</p>
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>