<div class="container-fluid login-bg">
    <form class="login-form" action="index.html">
        <div class="login-wrap">
            <p class="login-img"><i class="fa fa-unlock-alt" style="color:#07b9ee;"></i></p>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" style="color:#07b9ee;"></i></span>
                <input type="text" class="form-control" placeholder="Username" autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key" style="color:#07b9ee;"></i></span>
                <input type="password" class="form-control" placeholder="Password">
            </div>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
                <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
            </label>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            <button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>
        </div>
    </form>
</div>